div
{
    background-color: black;
    border-style:solid;
    width:320px;
    padding:10px;
}
h1
{
    color:white;
    font-size: 30px;
    margin-left:9px;
    margin-top: 10px;
    margin-bottom: 0;
}
p
{
    color:lightgrey;
    font-size: 15px;
    width:300px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}