.eagle
{
    width: 200px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.cat
{
    width: 200px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

